html {
    margin: 0; /* Menghapus margin default */
    padding: 0; /* Menghapus padding default */
}

.container {
}

.navbar-container {
    background-color: red; /* Menetapkan warna latar belakang navbar */
    width: 100%; /* Lebar penuh */
    display: flex; /* Layout flexbox */
    height: 10vh; /* Menetapkan tinggi */
    justify-content: center; /* Pusatkan secara horizontal */
    align-items: center; /* Pusatkan secara vertikal */
}

.ul-navbar {
    display: flex; /* Layout flexbox */
    height: 100px; /* Menetapkan tinggi */
    justify-content: center; /* Pusatkan secara horizontal */
    align-items: center; /* Pusatkan secara vertikal */
    margin: 0; /* Menghapus margin default */
    padding: 0; /* Menghapus padding default */
}

.li-navbar {
    list-style-type: none; /* Menghapus bullet points */
    padding: 6px; /* Menambahkan padding */
    margin: 5px; /* Menambahkan margin */
    color: black; /* Menetapkan warna teks */
    font-size: 30px; /* Menetapkan ukuran font */
    justify-content: center; /* Pusatkan secara horizontal */
    align-items: center; /* Pusatkan secara vertikal */
}

.li-navbar:hover {
    background-color: blue; /* Mengubah warna latar belakang saat hover */
    transition: .2s ease-in-out; /* Transisi yang halus */
    transition-delay: .3s; /* Menunda transisi */
    border-radius: 8px; /* Sudut yang membulat */
}

.a-navbar {
    color: aliceblue; /* Warna link */
}

.content1-container {
    background-color: aquamarine; /* Menetapkan warna latar belakang */
    width: 100%; /* Lebar penuh */
    height: 80vh; /* Menetapkan tinggi */
    display: flex; /* Layout flexbox */
    justify-content: center; /* Pusatkan secara horizontal */
    align-items: center; /* Pusatkan secara vertikal */
}

.d-content {
    background-color: red; /* Menetapkan warna latar belakang */
    color: white; /* Warna teks */
    text-decoration: none; /* Menghapus garis bawah */
    font-size: 30px; /* Ukuran font */
    width: 720px; /* Menetapkan lebar */
    height: 420px; /* Menetapkan tinggi */
    display: flex; /* Layout flexbox */
    flex-direction: column; /* Layout kolom */
    justify-content: space-evenly; /* Menyebar rata elemen */
    align-items: center; /* Pusatkan secara horizontal */
    border-radius: 80px; /* Sudut yang membulat */
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); /* Bayangan */
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); /* Bayangan untuk browser Webkit */
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); /* Bayangan untuk browser Mozilla */
    position: relative; /* Posisi relatif */
}

.img-content1 {
    width: 100%; /* Lebar penuh */
    height: 100%; /* Tinggi penuh */
}

.avatar-text-container {
    position: absolute; /* Posisi absolut */
    bottom: 20px; /* 20px dari bawah */
    width: 100%; /* Lebar penuh */
    text-align: center; /* Pusatkan teks */
}

.learning-text {
    font-size: 20px; /* Menetapkan ukuran font */
    color: black; /* Mengubah warna teks menjadi hitam */
    margin-top: 10px; /* Menambahkan margin atas */
}

.footer-container {
    height: 10vh; /* Menetapkan tinggi */
    background-color: bisque; /* Menetapkan warna latar belakang */
    display: flex; /* Layout flexbox */
    justify-content: center; /* Pusatkan secara horizontal */
    align-items: center; /* Pusatkan secara vertikal */
}

.footer-h1 {
    font-size: 40px; /* Ukuran font */
}

.halo {
    background-color: black; /* Menetapkan warna latar belakang */
}
